<div class="container mt-5" *ngIf="latitud != '' && longitud != ''">
    <h2>{{title}}</h2>
    <table>
        <tr>
            <th>Comuna</th>
            <td>{{nombre}}</td>
        </tr>
        <tr>
            <th rowspan="2">Coordenadas</th>
            <td>Latitud = {{latitud}}</td>
        </tr>
        <tr>
            <td>Longitud = {{longitud}}</td>
        </tr>
    </table>

<h2>Pronóstico para los siguientes 4 días</h2>

    <table>
        <tr>
            <th>día</th>
            <th>probabilidad de precipitación</th>
            <th>descripción</th>
        </tr>  
        <tr *ngFor="let clima of (climas | async).list">
            <td>{{ clima.dt | date : 'medium' }}</td>
            <td>{{clima.pop}}</td>
            <td *ngFor="let weather of clima.weather">{{weather.description}}</td>
            
        </tr>
    </table>

</div>

